[Unit]
Description=Local system resume actions
After=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/bin/hdparm -B 10 /dev/sda

[Install]
WantedBy=suspend.target
