[Unit]
Description=Starts i3lock at suspend time
Before=sleep.target

[Service]
User=bag
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -i /home/bag/src/dotfiles/templates/w95lock.png

[Install]
WantedBy=sleep.target
WantedBy=suspend.target 